
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.iws
*.zip

.idea/
target/
out/
src/main/resources/hibernate.properties
/hibernate.cfg.xml
/src/main/java/Main.java

!/src/main/resources/applicationContent.xml
!/hibernateMySQL.cfg.xml
#!/school.iml
/src/main/java/connector/
