
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
target/
out/
src/main/resources/hibernate.properties
/src/main/resources/hibernatePostgres.cfg.xml
/src/main/java/Main.java

!/src/main/resources/applicationContent.xml
!/src/main/resources/hibernate.cfg.xml
